/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}

nav .navbar-brand .red {
    color: #ea433b;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
}

td>a {
    font-size: 18px;
}

#finish {
    background-color: red;
}

#start {
    background-color: green;
}