{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
<script src="/static/index.js"></script>


<body>
    <div class="row">
        <div class="column">Start</div>
        <div class="column" id="square" style="background-color: green;"></div>
        <div class="column">Finish</div>
        <div class="column" id="square" style="background-color: red;"></div>
        <div class="column">Walls</div>
        <div class="column" id="square" style="background-color: black;"></div>
        <div class="column">Path</div>
        <div class="column" id="square" style="background-color: yellow;"></div>
        <div class="column">Explored</div>
        <div class="column" id="square" style="background-color: orange;"></div>
    
    </div>
    <div style="padding-bottom: 10px;"></div>
    <div>
        Cells Explored: 0
    </div>
    <table>
        {% for i in range(25) %}
        <tr>
            {% for j in range(50) %}
            <td id="{{i,j}}">
                
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <br>

    <button id="search_button" type="submit" class="btn btn-primary"> Search Path </button>

</body>

{% endblock %}